@import url('reset.css');

body {
    font-family: Comfortaa;
    font-weight: 300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.top-element {
    width: 100%;
    height: 10%;
    background-color: #AECF98;
}

.bottom-element {
    width: 100%;
    height: 15%;
    background-color: #AECF98;
}

.btn.secondary {
    background-color: #AECF98;
    color: #F9F9F9;
}

.primary2 {
    background-color: #AECF98;
    color: rgb(0, 0, 0);
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.note {
    font-size: 12px;
    color: #444;
    margin-bottom: 12px;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.log-in-methods {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forgot-password {
    display: block;
    text-align: left;
    color: #3e6b38;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s;
}
.forgot-password:hover{
    text-decoration: underline;
}
.or {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

/* Кнопки */
.btn {
    box-sizing: border-box;
    align-self: center;

    border-radius: 8px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    margin-top: 10px;
    transition: all 0.2s;
}

.btn.primary {
    background-color: #3e6b38;
    color: white;
}

.btn:hover {
    background-color: #AECF98;
    border: 2px solid #294A2B;
    color: black;
}

/* Кнопки соцмереж */
.social-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #b9dcb0;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    transition: all 0.2s;
}

.social-btn img {
    width: 24px;
    height: 24px;
}
.social-btn:hover {
    border: 2px solid #294A2B;
}